<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="com.ie" />

    <bean name="csvWordService" class="com.ie.services.CsvWordBankService"  init-method="init">
        <property name="csvSourceFilePath" value="/static/zip_words.txt"/>
    </bean>

    <bean name="crossWord" class="com.ie.models.Crossword">
        <!--<property name="timePermitted"><value type="long">100</value></property>-->
        <!--<property name="spins"><value type="int">2</value></property>-->
    </bean>

</beans>